@page "/HabitacionDoble"

<div class="card">
    <div class="card-header text-center">
        <h1>Habitacion Doble</h1>
    </div>
    <div class="card-body text-center">
        <img src="../Resources/Doble.jpg" style="width:50%; height:250px" />
        
    </div>
    <div class="card-footer text-center">

        <p>
            Esta habitación es más grande y de capacidad superior. En este tipo de habitaciones
            dispuestas para dos personas puede haber dos camas independientes o una cama de matrimonio.

        </p>
        <p>
            En esta habitacion podras encontrar un baño moderno color blanco coral y azul oscuro, ademas
            de una television plasma y una mini neverita que estara llena de un delicioso
            yogurt con frutas, unas cuantas cervezas, un par de latas e coca-cola y una botella de agua.

        </p>
    </div>
</div>
@code {

}
