@page "/HabitacionSimple"

<div class="card">
    <div class="card-header text-center">
        <h1>Habitación 3 Estrellas </h1>
    </div>
    <div class="card-body text-center">
        <img src="../Resources/Sencilla.jpg" style="width:50%; height:500px" />
        <p />
        <p />
        <p>
            Esta habitación es especial para las personas que quieren desconectar de todos,
            esta diseñada para un solo huesped ya que cuenta con una cama individual la
            que favorece para las personas tranquilas y solitarias.
        </p>
        <p>
            En esta habitación podras encontrar un baño moderno color blanco coral, aire acondicionado y refrigerador, ademas
            de una television plasma y una mini neverita que estara llena de un delicioso
            yogurt con frutas, unas cuantas cervezas y una botella de agua.

        </p>

    </div>
    <div class="card-footer text-center">
        <a class="btn btn-outline-primary" href="/Galeria" >Volver a Galeria</a>  
    </div>
</div>


@code {

}
