@page "/HabitacionSimple"

<div class="card">
    <div class="card-header row justify-content-md-center">
        <h1>Habitacion Simple</h1>
    </div>
    <div class="card-body text-center">
        <img src="../Resources/collage.jpg" style="width:50%; height:200px" />
    </div>
    <div class="card-footer text-center">

        <p>
            Esta habitacion es especial para las personas que quieren desconectar de todos,
            esta diseñada para un solo huesped ya que cuena con una cama individual  

        </p>
    </div>
</div>


@code {

}
