@page "/HabitacionSuiteJunior"

<div class="card">
    <div class="card-header text-center">
        <h1>Habitacion Doble</h1>
    </div>
    <div class="card-body text-center">
        <img src="../Resources/junior-suite-private-pool.jpg" style="width:50%; height:250px" />
    </div>
    <div class="card-footer text-center">

        <p>
            Esta habitación es la mas lujosa del hotel. En este tipo de habitaciones
            dispuestas para los recien casados o para personas que quieren disfrutar de los
            lujosos servicios que esta ofrece. En esta habitacion siempre sentiras que estas
            en el paraiso ya que tiene las mejores comodidades para cada una de tus necesidades.
        </p>
        <p>
            En esta habitación podras encontrar un jacuzzi con vista al mar, un minicomedor
            siempre tendras disponible de forma gratuita todos los servicios a la habitación 
            y un mini bar donde podras contratar a un personal del staff para preparar todas 
            tus bebidas.
        </p>
    </div>
</div>

@code {

}
