@page "/HabitacionDoble"

<div class="card">
    <div class="card-header text-center">
        <h1>Habitación 4 Estrellas </h1>
    </div>
    <div class="card-body text-center">
        <img src="../Resources/Doble.jpg" style="width:50%; height:500px" />
        <p />
        <p />

        <p>
            Esta habitación es más grande y de capacidad superior. En este tipo de habitaciones
            dispuestas para los enamorados o dos personas que quieren pasar un buen rato en nuestro
            hotel. Las camas se pueden escoger individuales o compartir una matrimonial para ambos.
            Esta habitacion es especial para amistades o parejas que quieren divertirse.
        </p>
        <p>
            En esta habitación podras encontrar un baño moderno color blanco coral y azul oscuro, airea acondicionado, wifi, 
            refrigerador y servicio al cuarto, ademas  de una mini sala donde podran de disfrutar de todo el catalago que 
            ofrecemos en nuestra gran tv. Aparte de lo ya mencionado tiene un balcon con vista al mar para poder apreciar 
            la hermosura de las olas junto al atardecer.

        </p>

    </div>
    <div class="card-footer text-center">
        <a class="btn btn-outline-primary" href="/Galeria">Volver a Galeria</a>
    </div>
</div>
@code {

}
