@page "/galeria"

<h3>Galeria</h3>

@*<AuthorizeView>
    <Authorized>

        <div class="container-fluid">*@
            @*<div class="row">*@
                <div class="col">
                    <div id="inam" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card" style="width: 500px;margin: auto;">
                                                <img src="~/Resources/Doble.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Importadores" class="btn btn-outline-primary">Informacion de la habitacion</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="card" style="width: 500px;margin: auto;">
                                                <img src="~/Resources/junior-suite-private-pool.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Importadores" class="btn btn-outline-primary">Informacion de la habitacion</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">
                                            <div class="card" style="width: 500px;margin: auto;">
                                                <img src="~/Resources/master1 suite.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Importadores" class="btn btn-outline-primary">Informacion de la habitacion</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">

                                            <div class="card" style="width: 500px;margin: auto;">
                                                <img src="~/Resources/Sencilla.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Importadores" class="btn btn-outline-primary">Informacion de la habitacion</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            @*Es la divisionn oara gregar nuevos item al carousel*@

                            @*<div class="carousel-item">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                <img src="/Imagen/importador.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Importadores" class="btn btn-outline-primary">Registro de Importadores</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="card" style="width: 300px;">
                                                <img src="/Imagen/ventas.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="" class="btn btn-outline-primary">Registro de Ventas</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="card" style="width: 300px;">
                                                <img src="/Imagen/vehiculos.jpg" width="320" height="180" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Vehiculos" class="btn btn-outline-primary">Registro de Vehiculos</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                <img src="/Imagen/renta.jpg" class="card-img-top" />
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <a href="Renta" class="btn btn-outline-primary">Registro de Renta</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <a class="carousel-control-prev" href="#inam" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#inam" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>*@

                    </div>
                </div>
            </div>
        @*</div>

    </Authorized>

</AuthorizeView>*@
