@page "/Galeria"

    <div class="card">
        <div class="card-header">
            <h3>Tipos de Habitaciones</h3>
        </div>
        <div class="col col-auto">
            <div class="form-row align-items-center">
                <div class="card" style="width: 500px;margin: auto;">
                    <img src="../Resources/master1 suite.jpg" style="width:100%; height:300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5> Habitación Master Suite </h5>
                            <a href="HabitacionSuite" class="btn btn-outline-primary">Información de Habitación</a>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 500px;margin: auto;">
                    <img src="../Resources/junior-suite-private-pool.jpg" style="width:100%; height:300px"/>
                    <div class="card-body">
                        <div class="text-center">
                            <h5> Habitación Junior Suite </h5>
                            <a href="HabitacionSuiteJunior" class="btn btn-outline-primary">Información de Habitación</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="card" style="width: 500px;margin: auto;">
                    <img src="../Resources/Doble.jpg" style="width:100%; height:300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5> Habitación Doble </h5>
                            <a href="HabitacionDoble" class="btn btn-outline-primary">Información de Habitación</a>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 500px;margin: auto;">
                    <img src="../Resources/Sencilla.jpg" style="width:100%; height:300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5> Habitación Sencilla </h5>
                            <a href="HabitacionSimple" class="btn btn-outline-primary">Información de Habitación</a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
 </div>