@page "/Galeria"

<h3>Catalogo</h3>

<div class="col col-auto">

    <div class="card" style="width: 500px;margin: auto;">
        <img src="~/Resources/master1 suite.jpg" class="card-img-top" />
        <div class="card-body">
            <div class="text-center">
                <h5> Habitación Master Suite </h5>
                <a href="Renta" class="btn btn-outline-primary">Información de Habitación</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 500px;margin: auto;">
        <img src="~/Resources/junior-suite-private-pool.jpg" class="card-img-top" />
        <div class="card-body">
            <div class="text-center">
                <h5> Habitación Junior Suite </h5>
                <a href="Renta" class="btn btn-outline-primary">Información de Habitación</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 500px;margin: auto;">
        <img src="~/Resources/Doble.jpg" class="card-img-top" />
        <div class="card-body">
            <div class="text-center">
                <h5> Habitación Doble </h5>
                <a href="Renta" class="btn btn-outline-primary">Información de Habitación</a>
            </div>
        </div>
    </div>

    <div class="card" style="width: 500px;margin: auto;">
        <img src="~/Resources/Sencilla.jpg" class="card-img-top" />
        <div class="card-body">
            <div class="text-center">
                <h5> Habitación sencilla </h5>
                <a href="Renta" class="btn btn-outline-primary">Información de Habitación</a>
            </div>
        </div>
    </div>

</div>
