@page "/"

@using System.Web;

<AuthorizeView>
    <Authorized>
        <div class="card">
            <div class="card-header row justify-content-md-center bg-dark">
                <h1>Bienvenido al hotel</h1>
            </div>
            <div class="card-body text-center">
                <img src="../Resources/collage.jpg" style="width:50%; height:200px" />
            </div>
            <div class="card-footer bg-dark text-center">

                <p>
                    Hola mmg :D
                </p>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-header text-center">
                    
                        <h3>Login</h3>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>Nombre de usuario: </label>
                            <input type="text" class="form-control" @bind="Usuario" />
                        </div>
                        <div class="form-group">
                            <label>Contraseña: </label>
                            <input type="password" class="form-control" @bind="Contrasena" />
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="form-group text-center">
                            <a class="ml-md-auto btn btn-success"
                               href="/login?paramUsername=@encode(Usuario)&paramPassword=@encode(Contrasena)"
                               target="_top">Login<span class="oi oi-account-login"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{

    string Usuario = "";
    string Contrasena = "";

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
}